<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="1.1.2" package="com.morami.nhl">

    <permission android:name="com.morami.nhl.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.morami.nhl.permission.MAPS_RECEIVE"/>

    <uses-sdk android:minSdkVersion="11" android:targetSdkVersion="17"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <!-- End of copy. -->


    <application android:allowBackup="true" android:icon="@drawable/ic_launcher"
                 android:label="@string/app_name" android:screenOrientation="landscape"
                 android:theme="@android:style/Theme.Holo">
        <activity android:label="@string/app_name" android:name=".NHLActivity" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>

        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBI0oablCAIvEj1-JuXuO69-XXm1bKhbW0"/>
    </application>

</manifest>